.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    margin-bottom: 30px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 7px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    background-color: #06c;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
    padding: 7px 13px;
    position: relative;
}

.text:after {
   content: "";
   position: absolute;
   right: -6px;
   bottom: 0;
   width: 0;
   height: 0;
   border-top: 25px solid transparent;
   border-right: 15px solid  transparent;
   border-bottom: 25px solid #06c;
}

.name {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.messageText {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.time {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    width: 48px;
    text-align: center;
}