.sidebar {
    width: 317px;
    height: 100vh;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 10px 40px 0 rgba(29, 33, 38, 0.13);
    background-color: #fff;
    position: absolute;
    display: none;
    padding: 16px 24px;
    z-index: 2;
    
}

.sidebar.open {
    display: flex;
    flex-direction: column;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.nav a {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    text-decoration: none;
}

.nav a:hover {
    font-weight: 600;
    font-size: 22px;
    color: #58acff;
}

.nav a.active {
    font-weight: 600;
    font-size: 22px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0059b2;
}

.close {
    align-self: flex-end;
}

.close img {
}

.active {
   
}