.App {
    --header_height: 60px;
}

.hw {
    margin: 0 auto;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 25px 70px;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin: 0 auto;
    margin-top: 130px;
    margin-left: 70px;
    margin-bottom: 10px;
}