.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 7px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    background-color: #f5f7fb;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    padding: 7px 13px;
    position: relative;
}

.friendText:after {
    content: "";
    position: absolute;
    left: -6px;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 15px solid  transparent;
    border-bottom: 25px solid #f5f7fb;
}

.friendName {
    font-weight: 600;
    font-size: 18px;
    color:  #000;;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    width: 48px;
    text-align: center;
}
