.greetingForm {
}

.inputAndButtonContainer {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 12px;
}

.error {
    font-weight: 400;
    font-size: 14px;
    color: #c00;
    margin-top: 7px;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    padding-left: 12px;
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    padding-left: 12px;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background-color: #06c;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:focus {
    
}

.button:active {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background-color: #06c;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}

.button:disabled {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background-color: #06c;
    opacity: 0.5;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    border: none;
    opacity: 0.5;
}

.text {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
