.sendForm {
    display: flex;
    gap: 40px;
    margin-top: 60px;
}

.textarea {
    display: block;
    border-radius: 20px;
    flex-grow: 1;
    padding: 12px 24px;
    border: none;
    vertical-align: middle;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background-color: #f5f7fb;
    resize: none;
}

textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.button {
    border-radius: 20px;
    border: none;
    width: 120px;
    height: 40px;
    background-color: #06c;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.button:hover {

}

.button:active {

}
